<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Harvey-Home</title>
	<!-- for-mobile-apps -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	{include file='public/ico' /}
	<meta name="keywords" content="Harvey,标签云制作,网站分析,网站词重,分词,在线制作标签云" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //for-mobile-apps -->
	<link href="https://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.css" rel="stylesheet">
	<!--gallery -->
	<link type="text/css" rel="stylesheet" href="__STATIC__/css/cm-overlay.css" />
	<!-- //gallery -->
	<link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
	<link href="https://cdn.bootcss.com/owl-carousel/1.3.3/owl.carousel.css" rel="stylesheet">
	<link rel="stylesheet" href="__STATIC__/css/owl.theme.css" type="text/css" media="all">
	<link href="__STATIC__/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<link href="http://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">
</head>

<body>
	<!-- Slider -->
	<div class="w3-banner-info-agile">
		<div class="slider w3layouts agileits">
			<ul class="rslides w3layouts agileits" id="slider">
				<li>
					<div class="layer agileits-banner  agileits-banner1">
						<p>Internet tag generator</p>
						<h3>H</h3>
						<h3>a</h3>
						<h3>r</h3>
						<h3>v</h3>
						<h3>e</h3>
						<h3>y</h3>
						<h3>&nbsp;</h3>
						<h3>T</h3>
						<h3>a</h3>
						<h3>g</h3>
						<h3>&nbsp;</h3>
						<h3>C</h3>
						<h3>l</h3>
						<h3>o</h3>
						<h3>u</h3>
						<h3>d</h3>
						<h4 class="title2-w3ls">在这里制作标签云</h4>
						<a href="{:url('analysis/index/programme1')}">方案一</a>
					</div>
				</li>
				<li>
					<div class="layer agileits-banner  agileits-banner2">
						<p>Internet tag generator</p>
						<h3>H</h3>
						<h3>a</h3>
						<h3>r</h3>
						<h3>v</h3>
						<h3>e</h3>
						<h3>y</h3>
						<h3>&nbsp;</h3>
						<h3>T</h3>
						<h3>a</h3>
						<h3>g</h3>
						<h3>&nbsp;</h3>
						<h3>C</h3>
						<h3>l</h3>
						<h3>o</h3>
						<h3>u</h3>
						<h3>d</h3>
						<h4 class="title2-w3ls">提取网站分词权重文档</h4>
						<a href="{:url('analysis/index/programme2')}">方案二</a>
					</div>
				</li>
				<li>
					<div class="layer  agileits-banner  agileits-banner3">
						<p>Internet tag generator</p>
						<h3>H</h3>
						<h3>a</h3>
						<h3>r</h3>
						<h3>v</h3>
						<h3>e</h3>
						<h3>y</h3>
						<h3>&nbsp;</h3>
						<h3>T</h3>
						<h3>a</h3>
						<h3>g</h3>
						<h3>&nbsp;</h3>
						<h3>C</h3>
						<h3>l</h3>
						<h3>o</h3>
						<h3>u</h3>
						<h3>d</h3>
						<h4 class="title2-w3ls">在Jasondavies进行简化标签云的制作</h4>
						<a href="{:url('analysis/index/programme3')}">方案三</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<!-- //Slider -->
	<!-- banner -->
	<div class="banner" id="home">
		<!-- <div class="container"> -->
		<nav class="navbar navbar-default cl-effect-5" id="cl-effect-5">
			<div class="navbar-header navbar-left">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<h1>
					<a class="navbar-brand" href="/">Harvey</a>
				</h1>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li>
						<a href="#" class="active">Home</a>
					</li>
					<li>
						<a class="scroll" href="#about">About</a>
					</li>
					<li>
						<a class="scroll" href="#services">Services </a>
					</li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</nav>
	</div>
	<!-- //banner -->
	<!-- about -->
	<div class="section-w3ls about-w3ls" id="about">
		<h3 class="title-agile about text-center">about harvey</h3>
		<span class="about-p text-center">strategy
			<span class="sub-title"></span>innovation
			<span class="sub-title"></span>progress</span>
		<div class="container">
			<div class="about-main about1">
				<div class="col-md-4 about-grid-w3ls">
					<div class="about-sub-grid-w3ls">
						<h4>About Harvey</h4>
						<p>基于SCWS分词系统和QueryList,用于网站分析和分词权重的统计</p>
					</div>
					<div class="about-sub-grid-w3ls">
						<h4>function 1</h4>
						<p>采集任意数量网站分词权重，提供txt,doc,exl三种格式的文档下载</p>
					</div>
				</div>
				<div class="col-md-4 about-grid-w3ls1">
					<img src="__STATIC__/images/a3.png" class="img-responsive" alt="" />
				</div>
				<div class="col-md-4 about-grid-w3ls ab-right">
					<div class="about-sub-grid-w3ls">
						<h4>function 2</h4>
						<p>在Harvey在线制作标签云</p>
					</div>
					<div class="about-sub-grid-w3ls">
						<h4>function 3</h4>
						<p>生成词云,在第三方网站制作标签云</p>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!-- //about -->
	<!-- services -->
	<div class="section-w3ls services-w3ls" id="services" style="background: #3a3f51;">
		<h3 class="title-agile about text-center">services</h3>
		<p class="about-p text-center">Sed congue elit malesuada nibh a varius odio vehicula aliquet. </p>
		<div class="container">
			<div class="about-main">
				<div class="col-md-3 col-sm-6  service-grids">
					<div class="services-head-w3ls">
						<span class="fa fa-check-square-o" aria-hidden="true"></span>
					</div>
					<div class="services-text">
						<h4>what we do</h4>
						<p>基于SCWS分词系统和QueryList<br />用于网站分析和分词权重的统计和标签制作</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6  service-grids">
					<div class="services-head-w3ls">
						<span class="fa fa-pie-chart" aria-hidden="true"></span>
					</div>
					<div class="services-text">
						<h4>感谢名单</h4>
						<p>QueryList,SCWS,站长之家,ThinkPHP,Jquery,Bootstrap<br />排名不分先后</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6  service-grids">
					<div class="services-head-w3ls">
						<span class="fa fa-trello" aria-hidden="true"></span>
					</div>
					<div class="services-text">
						<h4>combine</h4>
						<p>在Harvey生成Excel<br />可结合<a href="http://heater.fsociaty.com" target="_blank"> Heater </a>在线制作统计图表 <br />项目免费开源</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6  service-grids">
					<div class="services-head-w3ls">
						<span class="fa fa-paper-plane-o" aria-hidden="true"></span>
					</div>
					<div class="services-text">
						<h4>项目地址</h4>
						<p><br />欢迎<a href="https://github.com/FerreWagner/Claire" target="_blank">Star</a><br /><br /></p>
					</div>
				</div>

				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!-- //services -->
	<!-- Stats -->
	<div class="section-w3ls stats" style="background: #39446b;">
		<div class="container">
			<h4 class="title-agile about text-center">inspired by
				<span>passion.</span> driven by
				<span>results.</span>
			</h4>
			<div class="stats-agileinfo about-main">
				<div class="col-sm-3 col-xs-3 stats-grid text-center">
					<div class="stats-icon">
						<span class="fa fa-users" aria-hidden="true"></span>
					</div>
					<div class="stats-right">
						<h6>team</h6>
						<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='104' data-delay='.5' data-increment="100">9570</div>

					</div>
				</div>
				<div class="col-sm-3 col-xs-3 stats-grid text-center">
					<div class="stats-icon">
						<span class="fa fa-shield" aria-hidden="true"></span>
					</div>
					<div class="stats-right">
						<h6>Customer</h6>
						<div class='numscroller numscroller-big-bottom'  data-slno='1' data-min='0' data-max='780' data-delay='.5' data-increment="1">780</div>

					</div>

				</div>
				<div class="col-sm-3 col-xs-3 stats-grid text-center">
					<div class="stats-icon">
						<span class="fa fa-external-link" aria-hidden="true"></span>
					</div>
					<div class="stats-right">
						<h6>view</h6>
						<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='630' data-delay='.5' data-increment="1">630</div>

					</div>
				</div>
				<div class="col-sm-3 col-xs-3 stats-grid text-center">
					<div class="stats-icon">
						<span class="fa fa-book" aria-hidden="true"></span>
					</div>
					<div class="stats-right">
						<h6>others</h6>
						<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='623' data-delay='.5' data-increment="1">623</div>

					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!-- //Stats -->

	<div style="text-align: center;background: #39446b;color: #fff;">
		蜀ICP备17036283号-1
	</div>

	<!-- js -->
	<script src="https://cdn.bootcss.com/jquery/2.2.3/jquery.min.js"></script>
	<!--/js-->
	<script type="text/javascript" src="__STATIC__/js/numscroller-1.0.js"></script>
	<!-- Slider-JavaScript -->
	<script src="__STATIC__/js/responsiveslides.min.js"></script>
	<script>
		$(function () {
			$("#slider, #slider1").responsiveSlides({
				auto: true,
				nav: false,
				speed: 1500,
				namespace: "callbacks",
				pager: true,
			});
		});
	</script>
	<!-- //Slider-JavaScript -->
	<script>
		// You can also use "$(window).load(function() {"
		$(function () {
			// Slideshow 4
			$("#slider3").responsiveSlides({
				auto: true,
				pager: false,
				nav: true,
				speed: 500,
				namespace: "callbacks",
				before: function () {
					$('.events').append("<li>before event fired.</li>");
				},
				after: function () {
					$('.events').append("<li>after event fired.</li>");
				}
			});

		});
	</script>
	<!-- //gallery -->
	<script src="__STATIC__/js/jquery.tools.min.js"></script>
	<!-- <script src="https://cdn.bootcss.com/jquery-mobile/1.4.2/jquery.mobile.min.js"></script> -->
		<script src="__STATIC__/js/jquery.mobile.custom.min.js"></script>
	
	<script src="__STATIC__/js/jquery.cm-overlay.js"></script>

	<script>
		$(document).ready(function () {
			$('.cm-overlay').cmOverlay();
		});
	</script>
	<!-- //gallery -->
	<!-- owl carousel -->
	<script src="https://cdn.bootcss.com/owl-carousel/1.3.3/owl.carousel.js"></script>
	<script>
		$(document).ready(function () {
			$("#owl-demo").owlCarousel({

				autoPlay: 3000, //Set AutoPlay to 3 seconds
				autoPlay: true,
				items: 3,
				itemsDesktop: [991, 2],
				itemsDesktopSmall: [414, 4]

			});
		}); 
	</script>
	<!-- //owl carousel -->
	<script type="text/javascript" src="__STATIC__/js/move-top.js"></script>
	<script type="text/javascript" src="__STATIC__/js/easing.js"></script>
	
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();

				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<!-- //end-smooth-scrolling -->
	<!-- smooth-scrolling-of-move-up -->
	<script type="text/javascript">
		$(document).ready(function () {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>


	<script src="__STATIC__/js/SmoothScroll.min.js"></script>


	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.js"></script>


</body>

</html>