<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Home</title>
	<!-- for-mobile-apps -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //for-mobile-apps -->
	<link href="https://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.css" rel="stylesheet">
	<!--gallery -->
	<link type="text/css" rel="stylesheet" href="__STATIC__/css/cm-overlay.css" />
	<!-- //gallery -->
	<link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
	<link href="https://cdn.bootcss.com/owl-carousel/1.3.3/owl.carousel.css" rel="stylesheet">
	<link rel="stylesheet" href="__STATIC__/css/owl.theme.css" type="text/css" media="all">
	<link href="__STATIC__/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<link href="http://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">
</head>

<body>
	<!-- Slider -->
	<div class="w3-banner-info-agile">
		<div class="slider w3layouts agileits">
			<ul class="rslides w3layouts agileits" id="slider">
				<li>
					<div class="layer agileits-banner  agileits-banner1">
						<p>Happiness Inspires </p>
						<h3>P</h3>
						<h3>r</h3>
						<h3>o</h3>
						<h3>d</h3>
						<h3>u</h3>
						<h3>c</h3>
						<h3>t</h3>
						<h3>i</h3>
						<h3>v</h3>
						<h3>i</h3>
						<h3>t</h3>
						<h3>y</h3>
						<h4 class="title2-w3ls">we are innovation driven</h4>
						<a href="#" data-toggle="modal" data-target="#myModal">read more</a>
					</div>
				</li>
				<li>
					<div class="layer agileits-banner  agileits-banner2">
						<p>Happiness Inspires </p>
						<h3>P</h3>
						<h3>r</h3>
						<h3>o</h3>
						<h3>d</h3>
						<h3>u</h3>
						<h3>c</h3>
						<h3>t</h3>
						<h3>i</h3>
						<h3>v</h3>
						<h3>i</h3>
						<h3>t</h3>
						<h3>y</h3>
						<h4 class="title2-w3ls">we are innovation driven</h4>
						<a href="#" data-toggle="modal" data-target="#myModal">read more</a>
					</div>
				</li>
				<li>
					<div class="layer  agileits-banner  agileits-banner3">
						<p>Happiness Inspires </p>
						<h3>P</h3>
						<h3>r</h3>
						<h3>o</h3>
						<h3>d</h3>
						<h3>u</h3>
						<h3>c</h3>
						<h3>t</h3>
						<h3>i</h3>
						<h3>v</h3>
						<h3>i</h3>
						<h3>t</h3>
						<h3>y</h3>
						<h4 class="title2-w3ls">we are innovation driven</h4>
						<a href="#" data-toggle="modal" data-target="#myModal">read more</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<!-- //Slider -->
	<!-- banner -->
	<div class="banner" id="home">
		<!-- <div class="container"> -->
		<nav class="navbar navbar-default cl-effect-5" id="cl-effect-5">
			<div class="navbar-header navbar-left">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<h1>
					<a class="navbar-brand" href="index.html">reinforce</a>
				</h1>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li>
						<a href="#" class="active">Home</a>
					</li>
					<li>
						<a class="scroll" href="#about">About</a>
					</li>
					<li>
						<a class="scroll" href="#services">Services </a>
					</li>
					<li>
						<a class="scroll" href="#portfolio">Portfolio</a>
					</li>
					<li>
						<a class="scroll" href="#team">Team</a>
					</li>
					<li>
						<a class="scroll" href="#testimonials">Testimonials</a>
					</li>
					<li>
						<a class="scroll" href="#contact">Contact</a>
					</li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</nav>
	</div>
	<!-- //banner -->
	<!-- about -->
	<div class="section-w3ls about-w3ls" id="about">
		<h3 class="title-agile about text-center">about us</h3>
		<span class="about-p text-center">strategy
			<span class="sub-title"></span>innovation
			<span class="sub-title"></span>progress</span>
		<div class="container">
			<div class="about-main about1">
				<div class="col-md-4 about-grid-w3ls">
					<div class="about-sub-grid-w3ls">
						<h4>lorem ipsum</h4>
						<p>Sed congue elit malesuada nibh, a varius odio vehicula aliquet. Aliquam consequat, nunc quis </p>
					</div>
					<div class="about-sub-grid-w3ls">
						<h4>lorem ipsum</h4>
						<p>Sed congue elit malesuada nibh, a varius odio vehicula aliquet. Aliquam consequat, nunc quis </p>
					</div>
				</div>
				<div class="col-md-4 about-grid-w3ls1">
					<img src="__STATIC__/images/a3.png" class="img-responsive" alt="" />
				</div>
				<div class="col-md-4 about-grid-w3ls ab-right">
					<div class="about-sub-grid-w3ls">
						<h4>lorem ipsum</h4>
						<p>Sed congue elit malesuada nibh, a varius odio vehicula aliquet. Aliquam consequat, nunc quis </p>
					</div>
					<div class="about-sub-grid-w3ls">
						<h4>lorem ipsum</h4>
						<p>Sed congue elit malesuada nibh, a varius odio vehicula aliquet. Aliquam consequat, nunc quis </p>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!-- //about -->
	<!-- services -->
	<div class="section-w3ls services-w3ls" id="services">
		<h3 class="title-agile about text-center">services</h3>
		<p class="about-p text-center">Sed congue elit malesuada nibh a varius odio vehicula aliquet. </p>
		<div class="container">
			<div class="about-main">
				<div class="col-md-3 col-sm-6  service-grids">
					<div class="services-head-w3ls">
						<span class="fa fa-check-square-o" aria-hidden="true"></span>
					</div>
					<div class="services-text">
						<h4>what we do</h4>
						<p>Donec libero dui, scelerisque ac augue id, tristique ullamcorper elit. Nam ultrices, adipiscing aliquet.</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6  service-grids">
					<div class="services-head-w3ls">
						<span class="fa fa-pie-chart" aria-hidden="true"></span>
					</div>
					<div class="services-text">
						<h4>our values</h4>
						<p>Donec libero dui, scelerisque ac augue id, tristique ullamcorper elit. Nam ultrices, adipiscing aliquet.</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6  service-grids">
					<div class="services-head-w3ls">
						<span class="fa fa-paper-plane-o" aria-hidden="true"></span>
					</div>
					<div class="services-text">
						<h4>what we believe</h4>
						<p>Donec libero dui, scelerisque ac augue id, tristique ullamcorper elit. Nam ultrices, adipiscing aliquet.</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6  service-grids">
					<div class="services-head-w3ls">
						<span class="fa fa-trello" aria-hidden="true"></span>
					</div>
					<div class="services-text">
						<h4>smart media</h4>
						<p>Donec libero dui, scelerisque ac augue id, tristique ullamcorper elit. Nam ultrices, adipiscing aliquet.</p>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!-- //services -->
	<!-- Stats -->
	<div class="section-w3ls stats">
		<div class="container">
			<h4 class="title-agile about text-center">inspired by
				<span>passion.</span> driven by
				<span>results.</span>
			</h4>
			<div class="stats-agileinfo about-main">
				<div class="col-sm-3 col-xs-3 stats-grid text-center">
					<div class="stats-icon">
						<span class="fa fa-users" aria-hidden="true"></span>
					</div>
					<div class="stats-right">
						<h6>team</h6>
						<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='111073' data-delay='.5' data-increment="100">9570</div>

					</div>
				</div>
				<div class="col-sm-3 col-xs-3 stats-grid text-center">
					<div class="stats-icon">
						<span class="fa fa-shield" aria-hidden="true"></span>
					</div>
					<div class="stats-right">
						<h6>industry</h6>
						<div class='numscroller numscroller-big-bottom'  data-slno='1' data-min='0' data-max='780' data-delay='.5' data-increment="1">780</div>

					</div>

				</div>
				<div class="col-sm-3 col-xs-3 stats-grid text-center">
					<div class="stats-icon">
						<span class="fa fa-external-link" aria-hidden="true"></span>
					</div>
					<div class="stats-right">
						<h6>agriculture</h6>
						<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='630' data-delay='.5' data-increment="1">630</div>

					</div>
				</div>
				<div class="col-sm-3 col-xs-3 stats-grid text-center">
					<div class="stats-icon">
						<span class="fa fa-book" aria-hidden="true"></span>
					</div>
					<div class="stats-right">
						<h6>others</h6>
						<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='623' data-delay='.5' data-increment="1">623</div>

					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!-- //Stats -->
	<!-- about-team -->
	<div id="team" class="section-w3ls team">
		<div class="container">
			<h3 class="title-agile about text-center">our team</h3>
			<p class="about-p text-center">Sed congue elit malesuada nibh a varius odio vehicula aliquet. </p>
			<div class="team-row-agileinfo about-main">
				<div class="col-md-3 col-sm-6 col-xs-6 team-grids">
					<div class="thumbnail team-agileits">
						<img src="__STATIC__/images/t1.jpg" class="img-responsive" alt="" />
						<div class="w3agile-caption">
							<h4>Vaura Tegsner</h4>
							<p>Manager</p>
							<div class="social-w3lsicon">
								<a href="#">
									<span class="fa fa-twitter"></span>
								</a>
								<a href="#">
									<span class="fa fa-facebook"></span>
								</a>
								<a href="#">
									<span class="fa fa-google-plus"></span>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-6 team-grids">
					<div class="thumbnail team-agileits">
						<img src="__STATIC__/images/t2.jpg" class="img-responsive" alt="" />
						<div class="w3agile-caption">
							<h4>Jark Kohnson</h4>
							<p>CEO</p>
							<div class="social-w3lsicon">
								<a href="#">
									<span class="fa fa-twitter"></span>
								</a>
								<a href="#">
									<span class="fa fa-facebook"></span>
								</a>
								<a href="#">
									<span class="fa fa-google-plus"></span>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-6 team-grids">
					<div class="thumbnail team-agileits">
						<img src="__STATIC__/images/t4.jpg" class="img-responsive" alt="" />
						<div class="w3agile-caption">
							<h4>Chunk Erson</h4>
							<p>Director</p>
							<div class="social-w3lsicon">
								<a href="#">
									<span class="fa fa-twitter"></span>
								</a>
								<a href="#">
									<span class="fa fa-facebook"></span>
								</a>
								<a href="#">
									<span class="fa fa-google-plus"></span>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-6 team-grids">
					<div class="thumbnail team-agileits">
						<img src="__STATIC__/images/t3.jpg" class="img-responsive" alt="" />
						<div class="w3agile-caption">
							<h4>Goes Mehak</h4>
							<p>Manager</p>
							<div class="social-w3lsicon">
								<a href="#">
									<span class="fa fa-twitter"></span>
								</a>
								<a href="#">
									<span class="fa fa-facebook"></span>
								</a>
								<a href="#">
									<span class="fa fa-google-plus"></span>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //about-team -->




	<div class="section-w3ls agileits-gallery" id="portfolio">
		<h3 class="title-agile about text-center">portfolio</h3>
		<p class="about-p text-center">Sed congue elit malesuada nibh a varius odio vehicula aliquet. </p>
		<div class="gallery-w3layouts">
			<div class="col-sm-3 w3_tab_img_left">
				<div class="demo">
					<a class="cm-overlay" href="__STATIC__/images/g1.jpg">
						<figure class="imghvr-shutter-in-out-diag-2">
							<img src="__STATIC__/images/g1.jpg" alt=" " class="img-responsive" />
						</figure>
					</a>
				</div>
				<div class="agile-gallery-info">
					<h5>Reinforce</h5>
					<p>we are innovation driven</p>
				</div>
			</div>
			<div class="col-sm-3 w3_tab_img_left">
				<div class="demo">
					<a class="cm-overlay" href="__STATIC__/images/g2.jpg">
						<figure class="imghvr-shutter-in-out-diag-2">
							<img src="__STATIC__/images/g2.jpg" alt=" " class="img-responsive" />
						</figure>
					</a>
				</div>
				<div class="agile-gallery-info">
					<h5>Reinforce</h5>
					<p>we are innovation driven </p>
				</div>
			</div>
			<div class="col-sm-3 w3_tab_img_left">
				<div class="demo">
					<a class="cm-overlay" href="__STATIC__/images/g3.jpg">
						<figure class="imghvr-shutter-in-out-diag-2">
							<img src="__STATIC__/images/g3.jpg" alt=" " class="img-responsive" />
						</figure>
					</a>
				</div>
				<div class="agile-gallery-info">
					<h5>Reinforce</h5>
					<p>we are innovation driven</p>
				</div>
			</div>
			<div class="col-sm-3 w3_tab_img_left">
				<div class="demo">
					<a class="cm-overlay" href="__STATIC__/images/g4.jpg">
						<figure class="imghvr-shutter-in-out-diag-2">
							<img src="__STATIC__/images/g4.jpg" alt=" " class="img-responsive" />
						</figure>
					</a>
				</div>
				<div class="agile-gallery-info">
					<h5>Reinforce</h5>
					<p>we are innovation driven</p>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="col-sm-3 w3_tab_img_left">
				<div class="demo">
					<a class="cm-overlay" href="__STATIC__/images/g5.jpg">
						<figure class="imghvr-shutter-in-out-diag-2">
							<img src="__STATIC__/images/g5.jpg" alt=" " class="img-responsive" />
						</figure>
					</a>
				</div>
				<div class="agile-gallery-info">
					<h5>Reinforce</h5>
					<p>we are innovation driven</p>
				</div>
			</div>
			<div class="col-sm-3 w3_tab_img_left">
				<div class="demo">
					<a class="cm-overlay" href="__STATIC__/images/g8.jpg">
						<figure class="imghvr-shutter-in-out-diag-2">
							<img src="__STATIC__/images/g8.jpg" alt=" " class="img-responsive" />
						</figure>
					</a>
				</div>
				<div class="agile-gallery-info">
					<h5>Reinforce</h5>
					<p>we are innovation driven</p>
				</div>
			</div>
			<div class="col-sm-3 w3_tab_img_left">
				<div class="demo">
					<a class="cm-overlay" href="__STATIC__/images/g7.jpg">
						<figure class="imghvr-shutter-in-out-diag-2">
							<img src="__STATIC__/images/g7.jpg" alt=" " class="img-responsive" />
						</figure>
					</a>
				</div>
				<div class="agile-gallery-info">
					<h5>Reinforce</h5>
					<p>we are innovation driven</p>
				</div>
			</div>
			<div class="col-sm-3 w3_tab_img_left">
				<div class="demo">
					<a class="cm-overlay" href="__STATIC__/images/g6.jpg">
						<figure class="imghvr-shutter-in-out-diag-2">
							<img src="__STATIC__/images/g6.jpg" alt=" " class="img-responsive" />
						</figure>
					</a>
				</div>
				<div class="agile-gallery-info">
					<h5>Reinforce</h5>
					<p>we are innovation driven</p>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<!-- //menu -->

	<!--blog-->
	<div class="section-w3ls" id="blog">
		<h3 class="title-agile about text-center">blog posts</h3>
		<p class="about-p text-center">Sed congue elit malesuada nibh a varius odio vehicula aliquet. </p>
		<div class="container">
			<div class="blog-w3layouts">
				<div class="testimonial-grid">
					<div class="slider">
						<div class="callbacks_container">
							<ul class="rslides" id="slider3">
								<li>
									<div class="blog1-w3ls-top">
										<div class="blog-text">
											<a href="#" data-toggle="modal" data-target="#myModal">
												<h5 class="blog-w3ls">Nullam semper urna et </h5>
											</a>
											<div class="entry-meta">
												<h6 class="blg">
													<span class="fa fa-clock-o"></span> Aug 13, 2017</h6>
												<div class="icons">
													<span class="text-blog">By</span>
													<a href="#">
														<span class="fa fa-user"></span> Admin</a>
												</div>
												<div class="clearfix"></div>
												<p>Ed faucibus est et purus imperdiet, eget vulputate ante dictum. In condimentum, orci porttitor semper venenatis,
													lorem lorem blandit metus, a semper tortor nisi eget nisi. Suspendisse et massa nec arcu blandit pulvinar eget
													nec lorem. Maecenas pharetra lectus non dolor pharetra, eu elementum eros laoreet. </p>
												<div class="icons icons1">
													<a href="#">
														<span class="fa fa-comments-o"></span> 2</a>
													<a href="#">
														<span class="fa fa-thumbs-o-up"></span> 152</a>
												</div>
											</div>
										</div>
									</div>
								</li>
								<li>
									<div class="blog1-w3ls-top">
										<div class="blog-text">
											<a href="#" data-toggle="modal" data-target="#myModal">
												<h5 class="blog-w3ls">Semper nullam urna et </h5>
											</a>
											<div class="entry-meta">
												<h6 class="blg">
													<span class="fa fa-clock-o"></span> Sep 29, 2017</h6>
												<div class="icons">
													<span class="text-blog">By</span>
													<a href="#">
														<span class="fa fa-user"></span> Admin</a>
												</div>
												<div class="clearfix"></div>
												<p>Eget vulputate ante dictum, Ed faucibus est et purus imperdiet. In condimentum, orci porttitor semper venenatis,
													lorem lorem blandit metus, a semper tortor nisi eget nisi. Suspendisse et massa nec arcu blandit pulvinar eget
													nec lorem. Maecenas pharetra lectus non dolor pharetra, eu elementum eros laoreet. </p>
												<div class="icons icons1">
													<a href="#">
														<span class="fa fa-comments-o"></span> 2</a>
													<a href="#">
														<span class="fa fa-thumbs-o-up"></span> 152</a>
												</div>
											</div>
										</div>
									</div>
								</li>
								<li>
									<div class="blog1-w3ls-top">
										<div class="blog-text">
											<a href="#" data-toggle="modal" data-target="#myModal">
												<h5 class="blog-w3ls">Urna nullam semper et </h5>
											</a>
											<div class="entry-meta">
												<h6 class="blg">
													<span class="fa fa-clock-o"></span> Oct 13, 2017</h6>
												<div class="icons">
													<span class="text-blog">By</span>
													<a href="#">
														<span class="fa fa-user"></span> Admin</a>
												</div>
												<div class="clearfix"></div>
												<p>Ed faucibus est et purus imperdiet, eget vulputate ante dictum. In condimentum, orci porttitor semper venenatis,
													lorem lorem blandit metus, a semper tortor nisi eget nisi. Suspendisse et massa nec arcu blandit pulvinar eget
													nec lorem. Maecenas pharetra lectus non dolor pharetra, eu elementum eros laoreet. </p>
												<div class="icons icons1">
													<a href="#">
														<span class="fa fa-comments-o"></span> 2</a>
													<a href="#">
														<span class="fa fa-thumbs-o-up"></span> 152</a>
												</div>
											</div>
										</div>
									</div>
								</li>
								<li>
									<div class="blog1-w3ls-top">
										<div class="blog-text">
											<a href="#" data-toggle="modal" data-target="#myModal">
												<h5 class="blog-w3ls">Nullam semper urna et </h5>
											</a>
											<div class="entry-meta">
												<h6 class="blg">
													<span class="fa fa-clock-o"></span> Oct 25, 2017</h6>
												<div class="icons">
													<span class="text-blog">By</span>
													<a href="#">
														<span class="fa fa-user"></span> Admin</a>
												</div>
												<div class="clearfix"></div>
												<p> Eget vulputate ante dictum, Ed faucibus est et purus imperdiet. In condimentum, orci porttitor semper venenatis,
													lorem lorem blandit metus, a semper tortor nisi eget nisi. Suspendisse et massa nec arcu blandit pulvinar eget
													nec lorem. Maecenas pharetra lectus non dolor pharetra, eu elementum eros laoreet. </p>
												<div class="icons icons1">
													<a href="#">
														<span class="fa fa-comments-o"></span> 2</a>
													<a href="#">
														<span class="fa fa-thumbs-o-up"></span> 152</a>
												</div>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>

						<!--banner Slider starts Here-->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //blog -->
	<!-- feedback -->
	<div class="feedback section-w3ls about-w3ls" id="testimonials">
		<div class="feedback-agileinfo">
			<div class="container">
				<h3 class="title-agile about text-center">testimonials</h3>
				<div class="agileits-feedback-grids">
					<div id="owl-demo" class="owl-carousel owl-theme">
						<div class="item">
							<div class="feedback-info">
								<div class="feedback-top">
									<p> Sed semper leo metus, a lacinia eros semper at. Etiam sodales orci sit amet vehicula pellentesque. </p>
								</div>
								<div class="feedback-grids">
									<div class="feedback-img">
										<img src="__STATIC__/images/t.jpg" alt="" />
									</div>
									<div class="feedback-img-info">
										<h5>Mary Jane</h5>
										<p>Vestibulum</p>
									</div>
									<div class="clearfix"> </div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="feedback-info">
								<div class="feedback-top">
									<p> Sed semper leo metus, a lacinia eros semper at. Etiam sodales orci sit amet vehicula pellentesque. </p>
								</div>
								<div class="feedback-grids">
									<div class="feedback-img">
										<img src="__STATIC__/images/t.jpg" alt="" />
									</div>
									<div class="feedback-img-info">
										<h5>Peter</h5>
										<p>Vestibulum</p>
									</div>
									<div class="clearfix"> </div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="feedback-info">
								<div class="feedback-top">
									<p> Sed semper leo metus, a lacinia eros semper at. Etiam sodales orci sit amet vehicula pellentesque. </p>
								</div>
								<div class="feedback-grids">
									<div class="feedback-img">
										<img src="__STATIC__/images/t.jpg" alt="" />
									</div>
									<div class="feedback-img-info">
										<h5>Steven</h5>
										<p>Vestibulum</p>
									</div>
									<div class="clearfix"> </div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="feedback-info">
								<div class="feedback-top">
									<p> Sed semper leo metus, a lacinia eros semper at. Etiam sodales orci sit amet vehicula pellentesque. </p>
								</div>
								<div class="feedback-grids">
									<div class="feedback-img">
										<img src="__STATIC__/images/t.jpg" alt="" />
									</div>
									<div class="feedback-img-info">
										<h5>Mary Jane</h5>
										<p>Vestibulum</p>
									</div>
									<div class="clearfix"> </div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="feedback-info">
								<div class="feedback-top">
									<p> Sed semper leo metus, a lacinia eros semper at. Etiam sodales orci sit amet vehicula pellentesque. </p>
								</div>
								<div class="feedback-grids">
									<div class="feedback-img">
										<img src="__STATIC__/images/t.jpg" alt="" />
									</div>
									<div class="feedback-img-info">
										<h5>Guptill</h5>
										<p>Vestibulum</p>
									</div>
									<div class="clearfix"> </div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="feedback-info">
								<div class="feedback-top">
									<p> Sed semper leo metus, a lacinia eros semper at. Etiam sodales orci sit amet vehicula pellentesque. </p>
								</div>
								<div class="feedback-grids">
									<div class="feedback-img">
										<img src="__STATIC__/images/t.jpg" alt="" />
									</div>
									<div class="feedback-img-info">
										<h5> Wilson</h5>
										<p>Vestibulum</p>
									</div>
									<div class="clearfix"> </div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //feedback -->

	<!-- contact -->

	<div class="section-w3ls contact-main" id="contact">
		<div class="container">
			<h3 class="title-agile about text-center">send us a message</h3>
			<div class="agileits-main-right">
				<form action="#" method="post" class="agile_form">
					<label class="header">Name</label>
					<div class="icon1 w3ls-name1">
						<input placeholder=" " name="first name" type="text" required="">
					</div>
					<div class="icon2">
						<label class="header">Email</label>
						<input placeholder=" " name="Email" type="email" required="">
					</div>
					<label class="header">your message</label>
					<textarea class="w3l_summary" required=""></textarea>
					<input type="submit" value="SEND">
				</form>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
	<!-- //contact -->
	<div class="agileits_w3layouts-map">
		<iframe src=""
		 style="border:0" allowfullscreen></iframe>
		<div class="agileits-map">
			<h5>get in touch</h5>
			<div class="ftr-grid fg2 text-center">
				<div class="ftr-address">
					<div class="local">
						<span class="fa fa-map-marker" aria-hidden="true"></span>
					</div>
					<div class="ftr-text">
						<p>New South Wales 2000, Australia.</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="ftr-address">
					<div class="local">
						<span class="fa fa-phone" aria-hidden="true"></span>
					</div>
					<div class="ftr-text">
						<p>+1 (512) 154 8176</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="ftr-address">
					<div class="local">
						<span class="fa fa-envelope" aria-hidden="true"></span>
					</div>
					<div class="ftr-text">
						<a href="mailto:info@example.com">info@example.com</a>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="ftr-address">
					<div class="local">
						<span class="fa fa-globe" aria-hidden="true"></span>
					</div>
					<div class="ftr-text">
						<a href="#"> www.reinforce.com</a>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
	</div>
	<div class="copyright text-center">
		<div class="container">
			<h6 class="title-btm about text-center">follow us</h6>
			<ul class="top-links">
				<li>
					<a href="#">
						<span class="fa fa-facebook"></span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="fa fa-twitter"></span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="fa fa-google-plus"></span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="fa fa-linkedin"></span>
					</a>
				</li>
			</ul>
			<p>Copyright &copy; 2018.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
		</div>
	</div>
	<!-- Tooltip -->
	<div class="tooltip-content">
		<div class="modal fade features-modal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog modal-md">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h2 class="modal-title">reinforce</h2>
					</div>
					<div class="modal-body">
						<img src="__STATIC__/images/b4.jpg" class="img-responsive" alt="image">
						<p>Fusce et congue nibh, ut ullamcorper magna. Donec ac massa tincidunt, fringilla sapien vel, tempus massa. Vestibulum
							felis leo, tincidunt sit amet tristique accumsan. In vitae dapibus metus. Donec nec massa non nulla mattis aliquam
							egestas et mi.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //Tooltip -->

	<!-- js -->
	<script src="https://cdn.bootcss.com/jquery/2.2.3/jquery.min.js"></script>
	<!--/js-->
	<script type="text/javascript" src="__STATIC__/js/numscroller-1.0.js"></script>
	<!-- Slider-JavaScript -->
	<script src="__STATIC__/js/responsiveslides.min.js"></script>
	<script>
		$(function () {
			$("#slider, #slider1").responsiveSlides({
				auto: true,
				nav: false,
				speed: 1500,
				namespace: "callbacks",
				pager: true,
			});
		});
	</script>
	<!-- //Slider-JavaScript -->
	<script>
		// You can also use "$(window).load(function() {"
		$(function () {
			// Slideshow 4
			$("#slider3").responsiveSlides({
				auto: true,
				pager: false,
				nav: true,
				speed: 500,
				namespace: "callbacks",
				before: function () {
					$('.events').append("<li>before event fired.</li>");
				},
				after: function () {
					$('.events').append("<li>after event fired.</li>");
				}
			});

		});
	</script>
	<!-- //gallery -->
	<script src="__STATIC__/js/jquery.tools.min.js"></script>
	<!-- <script src="https://cdn.bootcss.com/jquery-mobile/1.4.2/jquery.mobile.min.js"></script> -->
		<script src="__STATIC__/js/jquery.mobile.custom.min.js"></script>
	
	<script src="__STATIC__/js/jquery.cm-overlay.js"></script>

	<script>
		$(document).ready(function () {
			$('.cm-overlay').cmOverlay();
		});
	</script>
	<!-- //gallery -->
	<!-- owl carousel -->
	<script src="https://cdn.bootcss.com/owl-carousel/1.3.3/owl.carousel.js"></script>
	<script>
		$(document).ready(function () {
			$("#owl-demo").owlCarousel({

				autoPlay: 3000, //Set AutoPlay to 3 seconds
				autoPlay: true,
				items: 3,
				itemsDesktop: [991, 2],
				itemsDesktopSmall: [414, 4]

			});
		}); 
	</script>
	<!-- //owl carousel -->
	<script type="text/javascript" src="__STATIC__/js/move-top.js"></script>
	<script type="text/javascript" src="__STATIC__/js/easing.js"></script>
	
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();

				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<!-- //end-smooth-scrolling -->
	<!-- smooth-scrolling-of-move-up -->
	<script type="text/javascript">
		$(document).ready(function () {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>


	<script src="__STATIC__/js/SmoothScroll.min.js"></script>


	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.js"></script>


</body>

</html>