<!DOCTYPE html>
<html>
<head>
<title>Harvey-Program1</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta name="keywords" content="Harvey,标签云制作,网站分析,网站词重,分词,在线制作标签云" />
<link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
<link href="__ROOT__/static/analysis-index/css/style.css" rel="stylesheet" type="text/css" media="all"/>
{include file='public/ico' /}
<link href="http://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900" rel="stylesheet">
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
<script src="__ROOT__/static/analysis-index/js/colpick.js" type="text/javascript"></script>
<link rel="stylesheet" href="__ROOT__/static/analysis-index/css/colpick.css" type="text/css"/>
</head>
<body>
<div class="signupform">
<h1><a href="/" style=" text-align: center;font-size: 45px;margin: 30px 0px;letter-spacing: 3px;color: #d3c1fd;font-weight: 500;">Home</a>-Analysis Data</h1>
	<div class="container">
		
		<div class="agile_info">
			<div class="w3l_form">
				<div class="left_grid_info">
					<h3>Welcome !</h3>
					<h4>该项目基于SCWS分词系统&QueryList库,免费开源.</h4>
					<p> 我们正在组建自己的团队,如果你想联系我或有更好的意见和建议/有私人的定制需求,欢迎点击下面的图标联系我们.</p>
					<ul class="social_section_1info">
						<li><a href="https://github.com/FerreWagner/Claire" target="_blank" class="w3_facebook"><i class="fa fa-github"></i></a></li>
						<li><a href="https://weibo.com/u/3877828291" target="_blank" class="w3_twitter"><i class="fa fa-weibo"></i></a></li>
						<li><a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=fd5940ae5067cf0015b0fc4129ec27ce58fd0a30b42854bd3971637fce223f89"><i class="fa fa-qq"></i></a></li>
					</ul>
				</div>
			</div>
			<div class="w3_info">
				<h2>Data Analysis</h2>
				<p>Url . Number Of Words</p>
						<form action="" method="post">
						<div class="input-group">
							<span><i class="fa fa-link" aria-hidden="true" style="color: #01cd74"></i></span>
							<input type="text" placeholder="设置提取网站地址" name="url" required=""> 
						</div>
						<div class="input-group">
							<span><i class="fa fa-user" aria-hidden="true"></i></span>
							<input type="text" placeholder="设置提取网站分词数量" name="time" required=""> 
						</div>
						生成图片格式：
						    <label class="radio-inline" style="cursor: pointer;">
						        <input type="radio" name="ext" value="1" checked> <span style="margin-right: 40px;">Jpg</span>
						    </label>
						    <label class="radio-inline" style="cursor: pointer;">
						        <input type="radio" name="ext" value="2"> <span style="margin-right: 40px;">Png</span>
						    </label>
						    <label class="radio-inline" style="cursor: pointer;">
						        <input type="radio" name="ext" value="3"> Gif
						    </label>	
   						<div class="input-group" style="margin-top: 20px;">
							<input type="text" placeholder="字体大小" name="font_size" required=""> px
						</div>
   						<div class="input-group" style="margin-top: 20px;">
							标签云长：<input type="text" name="pic_width" required="" style="width: 200px;"> px
							<snap style="margin-left: 100px;">标签云宽：</snap><input type="text" name="pic_height" required="" style="width: 200px;"> px
						</div>
   						<div class="input-group" style="margin-top: 20px;">
   						
	   						<input type="hidden" name="bg_color" id="bg_color" value="">
	   						<input type="hidden" name="text_color" id="text_color" value="">
   						
							背景色：<div style="margin-top: 20px;margin-bottom: 10px;" id="picker"></div>
							文字色：<div style="margin-top: 20px;margin-bottom: 10px;" id="picker1"></div>
							
							<script>
							$('#picker').colpick({
							    flat:true,
							    layout:'rgbhex',	//or rgb
							    submit:0,
							    onChange: function (hsb, hex, rgb, el, bySetColor) {
							    	$("#bg_color").attr("value",[rgb.r,rgb.g,rgb.b]);
							    }
							  });
							$('#picker1').colpick({
							    flat:true,
							    layout:'rgbhex',	//or rgb
							    submit:0,
							    onChange: function (hsb, hex, rgb, el, bySetColor) {
							    	$("#text_color").attr("value",[rgb.r,rgb.g,rgb.b]);
							    }
							  });
							</script>
							
						</div>
						
						<div class="select-group" style="margin-top: 10px;">
							字体：
							<select style="width: 300px;height: 30px;" name="font_style">
								<optgroup label="中文字体">  
								  <option value ="cn_paopao1.ttf">泡泡字体</option>
							   </optgroup>
								<optgroup label="英文字体">  
								  <option value ="en_YoungFolks.ttf">俏皮YoungFolks</option>
							   </optgroup>
							</select>
   						</div>
   						
						<button class="btn btn-danger btn-block" type="submit">开始分析</button >                
					</form>
			</div>
			<div class="clear"></div>
			</div>
			
		</div>
		<div class="footer">

 <p>Copyright &copy; 2018.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
 </div>
	</div>
	</body>
</html>