<!DOCTYPE html>
<html>
<head>
<title>Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta name="keywords" content="" />
<link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
<link href="__ROOT__/static/analysis-index/css/style.css" rel="stylesheet" type="text/css" media="all"/>
<link href="http://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900" rel="stylesheet">
</head>
<body>
<div class="signupform">
<h1><a href="/" style=" text-align: center;font-size: 45px;margin: 30px 0px;letter-spacing: 3px;color: #d3c1fd;font-weight: 500;">Home</a>-Making The Label Cloud</h1>
	<div class="container">
		
		<div class="agile_info">
			<div class="w3l_form">
				<div class="left_grid_info">
					<h3>Welcome !</h3>
					<h4>复制分词并 <a href="https://www.jasondavies.com/wordcloud/" style="color: #fff;" target="_blank">在此</a> 生成标签云</h4>
					<p> 我们正在组建自己的团队,如果你想联系我或有更好的意见和建议/有私人的定制需求,欢迎点击下面的图标联系我.</p>
					<ul class="social_section_1info">
						<li><a href="#" class="w3_facebook"><i class="fa fa-github"></i></a></li>
						<li><a href="https://weibo.com/u/3877828291" target="_blank" class="w3_twitter"><i class="fa fa-weibo"></i></a></li>
						<li><a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=fd5940ae5067cf0015b0fc4129ec27ce58fd0a30b42854bd3971637fce223f89"><i class="fa fa-qq"></i></a></li>
					</ul>
				</div>
			</div>
			<div class="w3_info">
			<script>
			function copyUrl2()
			{
			    var target=document.getElementById("anyInput");
			    target.select(); // 选择文本
			    document.execCommand("Copy"); // 执行浏览器复制命令
			    alert("复制成功");
			}
			</script>
				<h2>生成网站分词后在此生成标签云：<a href="https://www.jasondavies.com/wordcloud/" target="_blank" style="color: #d3c1fd;">入口</a></h2>
				<p>Url . Number Of Words</p>
						<textarea cols="70" rows="10" type="textarea" id="anyInput" style="color: #777;font-family: 微软雅黑;">{$string}</textarea>
						<button type="button" class="btn btn-danger btn-block" onClick="copyUrl2()" value="点击复制代码">复制</button>
			</div>
			<div class="clear"></div>
			</div>
			
		</div>
		<div class="footer">

 <p>Copyright &copy; 2018.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
 </div>
	</div>
	</body>
</html>