<div class="probootstrap-loader"></div>

<header role="banner" class="probootstrap-header">
  <div class="container">
      <a href="/" class="probootstrap-logo">Claire<span>.</span></a>
      
      <a href="#" class="probootstrap-burger-menu visible-xs" ><i>Menu</i></a>
      <div class="mobile-menu-overlay"></div>

      <nav role="navigation" class="probootstrap-nav hidden-xs">
        <ul class="probootstrap-main-nav">
        <form method="post" action="{:url('index/index/search')}">
          <li class="active"><a href="/">Home</a></li>
          {volist name="cate" id="category"}
          	<li class="active"><a href="{:url('index/index', ['cateid' => $category['id']])}">{$category.catename}</a></li>
          {/volist}
          <li><a href="{:url('index/index/contact')}">赞助</a></li>
          <input type="text" style="height: 30px;margin-left :20px;margin-right: 6px;" name="search" /><button type="submit">搜索</button>
          	
        </form>
        </ul>
        <div class="extra-text visible-xs"> 
          <a href="#" class="probootstrap-burger-menu"><i>Menu</i></a>
          <h5>Address</h5>
          <p>198 West 21th Street, Suite 721 New York NY 10016</p>
          <h5>Connect</h5>
          <ul class="social-buttons">
            <li><a href="#"><i class="icon-twitter"></i></a></li>
            <li><a href="#"><i class="icon-facebook2"></i></a></li>
            <li><a href="#"><i class="icon-instagram2"></i></a></li>
          </ul>
        </div>
      </nav>
  </div>
</header>