  <script src="http://ci-path.fsociaty.com/claire/scripts.min.js"></script>
  <script src="http://ci-path.fsociaty.com/claire/main.min.js"></script>
  <script src="http://ci-path.fsociaty.com/claire/custom.js"></script>
  <script>
	(function(){
	    var bp = document.createElement('script');
	    var curProtocol = window.location.protocol.split(':')[0];
	    if (curProtocol === 'https'){
	   bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
	  }
	  else{
	  bp.src = 'http://push.zhanzhang.baidu.com/push.js';
	  }
	    var s = document.getElementsByTagName("script")[0];
	    s.parentNode.insertBefore(bp, s);
	})();
   </script>